# ===== SISTEMA (macOS) =====
.DS_Store

# ===== LOGS =====
*.log

# ===== BUILD =====
/target/
/build/
/out/

# ===== COMPILADOS E CACHE =====
*.class
*.jar
*.war
*.ear
hs_err_pid*

# ===== IDEs =====
# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# Gradle
.gradle/

# Maven
.mvn/

# VSCode
.vscode/
